.camilahS{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start; 
    align-items: flex-end;
    justify-content: space-around;
}

.camilah{
    height: 637px;
    width: 500px;
}

.nome-camilah{
    height: 83px;
    width: 313px;
    background-color: var(--escuro);   border-radius: 10px;
    color: white;  
    font-size: 5rem;


}

.texto-camilah{
    color: white;
    height: 410px;
    width: 621px;
    background-color: var(--escuro);    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
}
