.camilahS{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 500px 57px;
    gap: 65px;
    font-family: 'Mulish', sans-serif;
}

.conteudo-camilah{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 53px;
    padding: 75px;
}
.camilah-name-container{
    height: 100vh;
    padding-top: 100px;
    padding-left: -900px;
}
.nome-camilah{
    padding: 2px 50px;
    background-color: var(--escuro);   
    border-radius: 10px;
    color: white;  
    font-size: 5rem;
    font-weight: 700;
}

.texto-camilah{
    color: white;
    width: 700px;
    background-color: var(--escuro);    
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    padding: 2px 0;
}
.camilah{
    height: 637px;
}