.leoS{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 500px 57px;
    gap: 0px;
    font-family: 'Mulish', sans-serif;
}

.conteudo-leo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 53px;
    padding: 10px;
}
.leo-name-container{
    height: 100vh;
    padding: 140px 0;
}
.nome-leo{
    padding: 2px 50px;
    background-color: var(--escuro);   
    border-radius: 10px;
    color: white;  
    font-size: 5rem;
    font-weight: 700;
}

.texto-leo{
    color: white;
    width: 700px;
    background-color: var(--escuro);    
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    padding: 2px 0;
}
.leo{
    height: 637px;
}
