.luizaS{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 78px;
    gap: 60px;
    font-family: 'Mulish', sans-serif;
}

.conteudo-luiza{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 53px;
    padding: 10px;
}
.luisa-name-container{
    height: 100vh;
    padding: 140px 0;
}
.nome-luiza{
    padding: 2px 50px;
    background-color: var(--escuro);   
    border-radius: 10px;
    color: white;  
    font-size: 5rem;
    font-weight: 700;
}

.texto-luiza{
    color: white;
    width: 700px;
    background-color: var(--escuro);    
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    padding: 2px 0;

}
.luiza{
    height: 637px;
}
