body{
    background-color: black;
    display: flex;
    flex-direction: column;
}

footer{
    position: relative;
    bottom: 50px;
    left: 50px;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
section{
    height: 50vh;
}

.imagem-lado-direito{
    display: flex;
    justify-content: flex-end;
}

h2{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}