:root{
    --mais-claro: #ED9089;
    --claro: #FF8080;
    --escuro: #FD6F6F;
    --mais-escuro: #F86161;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}